[2019-01-02 13:40] hbarsnes opened #1 "Proteins have less peptides than before"
Some proteins have a lot less peptides mapping to them than before. Example: P08238 (Heat shock protein HSP 90-beta (HS90B_HUMAN)) used to have 32 peptides, now it only has 10...

(Tested by loading only the X! Tandem identifications of the example dataset.)

[2019-01-02 13:44] hbarsnes opened #2 "Sorting in the protein, peptide and psm tables no longer works correctly"
The sorting in the protein, peptide and psm tables is no longer correct when clicking most column headers.

[2019-01-02 13:52] hbarsnes opened #3 "Many PTMs are not displayed correctly or not parsed at all"
There are issues with the mapping of PTMs.

For example n-term PTMs put on the c-term (e.g. the pyrolidone ptms from xtandem). In this particular case the PTMs are there in the peptide object, but not shown due to issue with the PeptideUtils.getTaggedModifiedSequence method.

But in other cases, such as the acetylation of the protein n-term, the PTMs seem to be missing completely.

Finally, there

[2019-01-02 13:54] hbarsnes opened #4 "DirecTag results cannot be loaded"
DirecTag results cannot be loaded due to a null pointer in the peptide to protein mapping

[2019-01-02 13:56] hbarsnes opened #5 "The spectrum annotation menu does not work"
Selections in the spectrum annotation menu below the spectrum, e.g. changing the ion types displayed, no longer has any effect. Seems related not using the getSpecificAnnotationParameters method in the PeptideShakerGUI class?

[2019-01-02 14:03] hbarsnes opened #6 "The accuracy spectrum slider not working"
The accuracy spectrum slider only had an effect on the on the mass error plot unless the following lines where commented out: https://github.com/compomics/compomics-utilities/commit/2f50fde30db35fee940c0248c3b4b75d4fe1b1da.

@mvaudel Please make sure that this fix is ok? As it reverts part of your recent commit: https://github.com/compomics/compomics-utilities/commit/ac2d19971c3e08c955200f72d54fd4

[2019-01-02 14:06] hbarsnes opened #7 "Move the FASTA file out of the search parameters"
The FASTA file should be moved out of the search parameter JSON file. The work has started in the SearchGUI main dialog, but the backend has to be updated before further work can be done.

[2019-01-02 14:08] hbarsnes opened #8 "Optimize the lazy loading of the tables"
The table model lazy loading does not really work as wanted, i.e. everything turns blank. Needs tuning. Important: Any suggested fix has to be tested on large datasets.

[2019-01-03 09:37] dominik-kopczynski opened #9 "Export to mzIdentML fails"
at eu.isas.peptideshaker.gui.export.MzIdentMLExportDialog.insertProjectData(MzIdentMLExportDialog.java:109)
	at eu.isas.peptideshaker.gui.export.MzIdentMLExportDialog.<init>(MzIdentMLExportDialog.java:74)
	at eu.isas.peptideshaker.gui.PeptideShakerGUI.exportMzIdentMLMenuItemActionPerformed(PeptideShakerGUI.java:3384)
	at eu.isas.peptideshaker.gui.PeptideShakerGUI.access$7300(PeptideShakerGUI.java:

[2019-01-03 11:24] #9 closed, assigned to hbarsnes

[2019-01-03 12:11] dominik-kopczynski commented on #1
Something goes terribly wrong, when I launch two times the same analysis with exactly the same SG result file and parameter file in PS, I get sometimes 9 peptides for P08238, sometimes 10 peptides.

[2019-01-03 14:40] hbarsnes opened #10 "Resaving a project does not work"
Trying to save a project after reopening it results in the following kind of exception:

java.lang.IllegalArgumentException: error double insertion: -2496257489489137213
	at com.compomics.util.db.object.ObjectsDB.insertObject(ObjectsDB.java:289)
	at com.compomics.util.experiment.identification.Identification.addObject(Identification.java:275)
	at eu.isas.peptideshaker.export.CpsExporter.saveAs(Cps

[2019-01-03 15:24] hbarsnes commented on #9
Actually, the problem was running a bit deeper, as the generated mzid file had lots of issues, like integers being treated as Unicode instead of text. But should all be fixed now. See my latest commits (both utilities and PeptideShaker) for details.

[2019-01-21 14:52] mvaudel commented on #3
commit d7795c21b915733b0fa754d432638606e584cb9d

Modifications should be displayed again and in number comparable to older versions albeit lower.

[2019-01-21 14:52] #3 closed, assigned to mvaudel

[2019-01-21 14:53] mvaudel opened #11 "Selection of a peptide between tabs"
Selecting a modified peptides in the modification tab does not select in the Overview panel.

[2019-01-23 10:57] hbarsnes commented on #11
Fixed. It was just the detected protein key not being stored.

[2019-01-23 10:57] #11 closed, assigned to hbarsnes

[2019-01-23 11:31] hbarsnes opened #12 "Loading results from more than one search engine results in no validated hits"
Loading results from more than one search engine results in no validated hits.

Not sure of the underlying cause, but for the Spectrum IDs tab both inputMap.getAdvocateContribution(…) and inputMap.getAdvocateUniqueContribution(…) return 0.0 for all the search engines, so this could perhaps be one place to start the debugging?

[2019-01-23 14:48] hbarsnes opened #13 "Confidence is identical for all spectrum id results in the Spectrum IDs tab"
The confidence for all spectrum id results in the Spectum IDs tab is zero when loading individual data from Comet, MS Amanda, MS-GF+, MyriMatch, Andromeda and Tide. For other algorithms it is always set to the same value, i.e. OMSSA to 32, Novor to 100, and X! Tandem to 52.

Maybe just a map issue as the PSM, peptide and protein confidences all seem to be fine?

On a related note, a null pointer n

[2019-02-06 11:11] mvaudel commented on #13
Solved.
https://github.com/compomics/peptide-shaker/commit/531b7622066d185d924483ae2042b4cba0d2983c

[2019-02-06 11:11] #13 closed, assigned to mvaudel

[2019-02-06 11:11] mvaudel commented on #12
Solved in https://github.com/compomics/peptide-shaker/commit/531b7622066d185d924483ae2042b4cba0d2983c

[2019-02-06 11:11] #12 closed, assigned to mvaudel

[2019-02-06 15:11] hbarsnes opened #14 "Validation status "No Validation" in the Spectrum IDs tab"
Validated status is set to Not Validated for all spectrum identification results in the Spectrum IDs tab.

Plus, the spectrum identification result table is not always sorted on the Confidence column.

[2019-02-06 15:13] hbarsnes opened #15 "Best hit not found in the Spectrum IDs tab"
Best hit not found in the Spectrum IDs tab

[code]

[2019-02-06 16:21] hbarsnes commented on #7
Current plan: Move the FastaParameters to the FASTA file index (i.e. the .fasta.cui file).

[2019-02-06 17:27] hbarsnes commented on #14
Maybe due to changes in the populateIdResultsTable method in the SpectrumIdentificationsPanel class?

Used to say "sort assumptions by tag or peptide -> confidence -> search engine -> peptide sequence" but now it says "sort peptides by score, tool, and sequence"?

And the scores are always zero?

[2019-02-06 21:52] hbarsnes commented on #8
Commented out for now. Needs to be rechecked with bigger datasets.

[2019-02-14 22:08] hbarsnes opened #16 "The Default Protein Report export fails (both CLI and GUI)"
[code]

[2019-02-14 22:10] hbarsnes opened #17 "The Default Peptide and PSM Report fails (both CLI and GUI)"
[code]

[2019-02-14 22:38] hbarsnes opened #18 "The Default Protein Report export fails from the command line"
[code]

Due to the ProteinDetailsProvider being null.

[2019-02-14 22:41] hbarsnes opened #19 "The Default Peptide Report fails from the command line"
Peptide:

[code]

PSM:
[code]

Due to the SequenceProvider being null.

[2019-02-14 23:12] hbarsnes opened #20 "The mzid export from the command line fails"
[code]

SequenceProvider being null.

[2019-02-15 12:39] hbarsnes commented on #20
Fixed

[2019-02-15 12:39] #20 closed, assigned to hbarsnes

[2019-02-15 12:39] hbarsnes commented on #19
Fixed

[2019-02-15 12:39] #19 closed, assigned to hbarsnes

[2019-02-15 12:40] hbarsnes commented on #18
Fixed

[2019-02-15 12:40] #18 closed, assigned to hbarsnes

[2019-02-22 14:46] hbarsnes commented on #10
Hopefully fixed as part of this update: https://github.com/compomics/peptide-shaker/commit/47479567ee5b35d51dee2a734b9fc5571ead69ef

[2019-02-22 14:46] #10 closed, assigned to hbarsnes, dominik-kopczynski

[2019-02-25 12:59] dominik-kopczynski opened #21 "Wrong visualization in Protein inference dialog"
When opening a protein inference dialog and scroling in, at a certain scale only the edges scale up, nodes remain at their place.

[2019-02-25 13:16] hbarsnes commented on #21
This is a bug in the library used to draw the graphs and not something we can fix ourselves. Updating the library had no effect. Or rather, it was not compatible with our code.

[2019-02-25 13:16] #21 closed, assigned to hbarsnes

[2019-02-27 10:30] hbarsnes opened #22 "The Default PSM report with non-validated matches and the Extended PSM report fails"
[code]

[2019-02-28 08:47] hbarsnes opened #23 "Follow up analysis: "Export accession numbers" and "Export sequences" fails"
[code]

[2019-02-28 09:37] hbarsnes opened #24 "Follow up analysis pepXML export fails"
[code]

[2019-02-28 09:44] hbarsnes commented on #24
@dominik-kopczynski Any idea what the error message below means? And hopefully how to fix it? :)

javax.jdo.JDOUserException: Query parsing error at 'qExactive01819.mgf'  near position 17: Missing left hand side type info. Query= spectrumFile == 'qExactive01819.mgf'

[2019-03-28 17:24] hbarsnes commented on #7
Implemented, but needs more testing.

[2019-04-03 09:07] CarlosHorro commented on #7
Testing PeptideShaker on OSX and Linux there seems to be something wrong just when loading the initial information as, after choosing the database, the "Database file" field keeps in red (Fasta file not found) and it's not possible to run the program.
No exception is raised. I have to look into it.

PS: By the way, I was firstly testing SG and it seems to work well, although I think there seems to

[2019-04-03 10:09] CarlosHorro commented on #7
Well it seems it was simple, fastaFile global variable was not set when choosing the fasta file (a local variable was set instead). I've uploaded the fix (also removing the pre-requirement of having search identification parameters and search parameters stablished to have the fasta file approved).

[2019-04-10 10:51] CarlosHorro commented on #17
Hi,

There was a problem in the algorithm managing fixed modifications which I think is solved now:

https://github.com/compomics/compomics-utilities/commit/d39f8da4f85a29a7600946cb04adf09fdae4b850
https://github.com/compomics/peptide-shaker/commit/9cee3295e2650ece6355e07be4fb6ff48f6e156a

I've checked both reports are correctly generated now.

[2019-04-10 14:49] CarlosHorro commented on #16
Problem in function getConfidentModificationSites occurs when it does

`sequence.substring(site - 1, site)`

when the function receives site "-1", as in modification "Acetylation of protein N-term"
 (confidentSite:-1)

Although I suppose it will also fail with
Pyrolidone from Q,confidentSite:0
Pyrolidone from E,confidentSite:0
Acetylation of protein N-term,confidentSite:0

and similar others.

If

[2019-04-11 12:41] hbarsnes commented on #17
Great! I can confirm that both reports work on my side as well.

[2019-04-11 12:41] #17 closed, assigned to mvaudel

[2019-04-15 10:10] CarlosHorro opened #25 "PeptideShaker GUI frozen when creating/opening a project having another one already opened"
The GUI gets frozen and no responsive when trying to create or open a project after having another one already opened.

Seems to be related to the proteinKeys and peptideKeys arrays not being refreshed.

`
Exception in thread "AWT-EventQueue-0" java.lang.ArrayIndexOutOfBoundsException: 10 >= 8
	at java.util.Vector.elementAt(Vector.java:474)
	at javax.swing.table.DefaultTableColumnModel.getColumn(D

[2019-05-02 08:40] mvaudel commented on #23
Corrected in commit 88eea2b7f222626cf0dfd02afb6323e0001e27ca.

[2019-05-02 13:54] hbarsnes commented on #23
I can confirm that the exports now work. I had to add the ">" at the start of the FASTA headers though (and also included an empty line in between the sequences to make the resulting file more readable).

But the FASTA exports now seems to contain both target and decoy sequences where it earlier only included the target sequences, which I think makes the most sense? Hopefully not too difficult to

[2019-05-02 22:24] mvaudel commented on #22
Fixed in commit 998a605049f9d7800cd3987d25452e24e8242ed8

[2019-05-02 22:24] #22 closed, assigned to mvaudel

[2019-05-02 22:24] mvaudel commented on #15
Fixed in commit 998a605049f9d7800cd3987d25452e24e8242ed8

[2019-05-02 22:24] #15 closed, assigned to mvaudel

[2019-05-03 07:08] mvaudel commented on #23
Solved in commit c6e7790b0d3ed266133befb08c13feea4642b53d.

[2019-05-03 07:08] #23 closed, assigned to mvaudel

[2019-05-10 11:57] dominik-kopczynski commented on #24
== Source of the issue ==
In file: PepXmlExport.java (463): the function requires for filtering in the database the file origin of a certain spectrum, but this information is no longer available in the class SpectrumMatch.

[2019-05-13 07:51] #24 closed, assigned to dominik-kopczynski

[2019-05-13 07:51] dominik-kopczynski commented on #24
Bug was fixed, I tested the export and it works again, at least on my test data.

[2019-05-16 07:45] CarlosHorro commented on #2
I've been testing the sorting of all columns in Proteins, Peptides and PSM tables and they all seem to work now...

[2019-05-16 08:58] hbarsnes commented on #2
Yup. Seems to work again now. :)

[2019-05-16 08:58] #2 closed, assigned to mvaudel

[2019-05-16 10:17] #7 closed, assigned to mvaudel, hbarsnes

[2019-05-22 14:20] mvaudel commented on #16
Should be fixed in commit below.
https://github.com/compomics/compomics-utilities/commit/6817bf2611caef078f0c63fea9e7002a4e1d8475

[2019-05-22 14:20] #16 closed, assigned to mvaudel

[2019-05-22 15:36] hbarsnes commented on #4
The error is no longer due to the peptide to protein mapping, but rather in the spectrum annotator, and is in the process of being fixed. :)

[2019-05-22 15:40] hbarsnes commented on #14
The orignal issue has been fixed, but there are still some related issues with how the "No Validation" status is being used in the Spectrum Identification Results table and how this is shown at the PSM and Spectrum tables.

[2019-05-22 17:36] hbarsnes commented on #4
Fixed in https://github.com/compomics/peptide-shaker/commit/7676388ed8ef2b716ad6f10ab3d875873b1d0eb1 and https://github.com/compomics/compomics-utilities/commit/fdf7e9324e8987abe8127dccdf129fba5713f4eb.

[2019-05-22 17:36] #4 closed, assigned to hbarsnes

[2019-05-22 17:40] hbarsnes opened #26 "FM indexes are not updated if the parsing rules change"
There is a bug in the current version of the FM index where the decoys (and maybe other details) are not parsed if the index already exists.

I've tracked it down to line 1078 in FMIndex, i.e. `if (loadFasta)`. If the index already exists `loadFasta` will be `false` which means that the `addDataToIndex` method will not be called.

The following code will then not being executed (line 1348):

[code

[2019-05-23 09:38] hbarsnes commented on #26
The actual problem seems to be that the index is not updated if the way the file is parsed is changed. In my case I initially loaded the given FASTA file with "-REVERSED" as the decoy tag, but then figured out that it should be "_REVERSED". Upon reloading the data the old index is used and hence the list of decoys is still empty. If I delete the index (or always recreate it, as was my initial fix)

[2019-05-23 10:27] hbarsnes commented on #1
Is this still an issue? I cannot seem to reproduce it with the current code?

[2019-05-23 10:55] dominik-kopczynski commented on #26
Added a checksum computation for a fasta file, whenever something is changed in the file, the index will be recomputed and restored.

[2019-05-23 14:18] hbarsnes commented on #26
But won't this only solve the issue of the FASTA file content changing but not the issue of the FastaParameters having changed?

For example, as in my case, the index was made with "-REVERSED" as the decoy tag, but when using the FASTA file the decoy tag changed to "_REVERSED".

So I think we'd also have to add a check for if the currently used FastaParameters are the same as the ones used to crea

[2019-05-30 13:25] hbarsnes commented on #5
Fixed in https://github.com/compomics/peptide-shaker/commit/208b41df51b680759e0a7ad8d3d631d623584c81.

[2019-05-30 13:25] #5 closed, assigned to mvaudel

[2019-06-01 11:17] hbarsnes commented on #25
Should be fixed in https://github.com/compomics/peptide-shaker/commit/0104c36f17242da907b8033cd3ae31dcb60a02ee.

[2019-06-01 11:17] #25 closed, assigned to hbarsnes

[2019-06-04 09:30] #1 closed, assigned to mvaudel

[2019-06-04 12:07] #26 closed, assigned to dominik-kopczynski

[2019-06-04 12:40] hbarsnes commented on #14
Screenshot indicating some of the issue in the Spectrum IDs tab:

![image](https://user-images.githubusercontent.com/13151214/58879497-1847e900-86d6-11e9-9591-c9630e927088.png)

The two main things to note here: 1) nothing is indicated as validated in the bottom left table, and 2) line 4855 in the upper table is indicated with a confidence of 100% even though there are no matches.

The data used i

[2019-06-07 08:50] mvaudel commented on #14
Validation status is back with commit.
https://github.com/compomics/peptide-shaker/commit/dc9996351412db6f6247cd76b160368b7bd3b1d2

[2019-06-08 10:02] hbarsnes commented on #14
I can confirm that the validation status is back in the Spectrum Identification Results table, but the issue with having a confidence of 100% in the Spectrum Selection Table even though there are no validated PSMs is still there:

![image](https://user-images.githubusercontent.com/13151214/59145487-eb9d1580-89e4-11e9-8f83-8ee9fad31d8d.png)

The Peptide Spectrum Matches table also looks very odd fo

[2019-06-08 11:54] hbarsnes opened #27 "Peptides go missing from protein groups"
Some peptides go missing from the protein groups. For example, take the peptide ELISNASDALDKIR. As the below screenshot shows the PSM indicates that this peptide maps to five proteins:

![image](https://user-images.githubusercontent.com/13151214/59146665-43da1480-89f1-11e9-8a38-4ec04b15d4f1.png)

But when looking up each of these proteins in the Overview tab none of them list the given peptide. Th

[2019-06-08 13:08] hbarsnes commented on #14
This has now been implemented: https://github.com/compomics/peptide-shaker/commit/ec5d11899809a2305f44093000cfd11330acc18b

[2019-06-08 13:36] hbarsnes commented on #14
Seems to be due to the probability being set to 0.0 for the PSM in question. Not sure how this should be properly handled though?

[2019-06-13 12:26] mvaudel commented on #14
I think this is already solved but the error will persist on projects created with the bug. Can you try to create a new project?
![Untitled](https://user-images.githubusercontent.com/11632644/59432242-2a690c00-8de7-11e9-8385-5e46ebae987b.png)

[2019-06-13 12:45] hbarsnes commented on #14
Nope, still there. Note that (as far as I can tell) it is only a problem when there are search engine PSMs but none of them have been validated. As in the screenshot above.

[2019-06-13 13:37] mvaudel commented on #14
OK!
![Untitled](https://user-images.githubusercontent.com/11632644/59437078-27731900-8df1-11e9-856e-0c499951cd28.png)
These matches are now displayed as "no validation".
https://github.com/compomics/peptide-shaker/commit/be3e76b1cddd08e53604534e15b3365f0df8837c

[2019-06-13 13:46] hbarsnes commented on #14
So there are no longer any rows without an icon in the final column then? As in, we do not separate between "no search engine results for the given spectrum" and "there are search engine results but none of them were validated"?

[2019-06-13 13:49] mvaudel commented on #14
The no results have nothing, the no results passed the filters have the 'no validation' icon :)

[2019-06-13 13:49] hbarsnes commented on #14
Ok. Sounds good! :)

[2019-06-13 14:00] mvaudel commented on #27
The peptide is attached to Q58FF6 on my side:
![Untitled](https://user-images.githubusercontent.com/11632644/59438744-5f2f9000-8df4-11e9-8061-867bd5761a64.png)

[2019-06-13 14:00] mvaudel commented on #27
Switching between tabs selects the protein as wanted - looks all good?

[2019-06-13 14:35] hbarsnes commented on #27
The peptide may be attached to a protein but not to all the proteins it was attached to before
and not to all the proteins listed in the spectrum ids table, where it is indicated to map to P08238, P14625, Q58FF6 and Q58FF7.

[2019-06-13 15:42] #14 closed, assigned to mvaudel

[2019-06-18 12:13] CarlosHorro opened #28 "Weird error with streams in CommandParameter.isInList"
Some days ago I had a problem when trying to set IdentificationParametersCLI with
` -specificy "0,1"`
(ie: with more than 1 value)
I though it was something just happening to -specificity param, but I've checked that it also happened with params as
`-fi "a,b" `
or
`-ri "y,z"`

When executing in the command line there was no message shown, the app just stopped without any result or message.
I've fi

[2019-06-18 12:32] hbarsnes commented on #28
Is it an option to simply revert to not using the streams for this particular method?

As this is what we used to do (https://github.com/compomics/compomics-utilities/blob/master/src/main/java/com/compomics/software/cli/CommandParameter.java) and I think this worked fine?

[2019-06-18 14:31] CarlosHorro commented on #28
Yes, it seems old implementation works fine, so I've reused it and it's already pushed.

[2019-06-18 14:31] #28 closed, assigned to CarlosHorro

[2019-06-24 21:42] mvaudel commented on #27
Issue should be solved and protein inference improved with https://github.com/compomics/peptide-shaker/commit/72a0e15abe5311651951399f76b524e4715f4b28.

[2019-06-25 15:02] #27 closed, assigned to mvaudel

[2019-06-25 15:07] hbarsnes opened #29 "Peptide sequence search not working"
Using the Find feature to search for a given peptide sequence only results in one hit if the peptide can come from multiple proteins. The problem seems to be that we don't iterate the parent proteins when locating the right sequence.

Note that the mapping should be to the protein groups and not directly to the proteins themselves, i.e. if a peptide can come from five proteins separated across two

[2019-06-25 15:11] hbarsnes opened #30 "Protein inference graph results in null pointer"
The creation of the peptide-level protein inference graph sometimes results in a null pointer.

Example:

1) in the ProteinInferencePeptideLevelDialog constructor the list retainedProteins contains P08238 and Q58FF8
2) but when trying to run identification.getProteinMatch(proteinMatchKey) for the second protein key (of course then provided as a long value) this return null
3) which results in a nu

[2019-06-25 15:14] hbarsnes opened #31 "Peptides with the same set of PTMs are not merged"
Old version:

![old version](https://user-images.githubusercontent.com/13151214/60110537-8418f100-976c-11e9-8a33-4d1185c95233.png)

New version:

![new version](https://user-images.githubusercontent.com/13151214/60110547-89763b80-976c-11e9-8da9-fd5c42a21ab9.png)

Fix: The three oxidized peptides ought to be merged into one peptide with three PSMs.

[2019-06-25 15:17] hbarsnes opened #32 "The possible sequence coverage values ought to be checked"
The values provided for the possible sequence coverage ought to be checked as they do not match the manually calculated values. They have also dropped around 10% compared to the old version. (Which also do not match the manually calculated values btw...)

[2019-06-25 15:51] hbarsnes opened #33 "PTM mapping can result in a null pointer"
ModificationLocalizationScorer line 1074:

`int toSelect = nToSelectMap.get(modMass);`

Example:

`nToSelectMap` only contains phospho, but `modMass` equals oxidation...

[code]

[2019-06-30 12:17] mvaudel commented on #30
I attempted at fixing the issue with https://github.com/compomics/peptide-shaker/commit/f7bb5f6d40b029da0fec22ae8e9d54b630cb2a91. In the new back-end, the method returns the number of termini:
0- non-enzymatic
1- semi-enzymatic
2- enzymatic

So the table model returns an integer and not a boolean, and the gui needs to be updated accordingly.

[2019-06-30 22:20] #30 closed, assigned to mvaudel

[2019-07-01 13:00] hbarsnes opened #34 "The precursor mass deviation filter is unstable"
The precursor mass deviation filter seems to have a floating point calculation issue.

Linked to the following lines in the AssumptionFilter class:

[code]

As this sometimes results true and sometimes false for the same mass error.

[2019-07-01 16:33] hbarsnes commented on #34
Should be solved in https://github.com/compomics/peptide-shaker/commit/60b239a8919b28f055f405ea9e478b0b590108bf

[2019-07-01 19:53] #34 closed, assigned to mvaudel

[2019-07-01 19:53] hbarsnes commented on #29
Should now be fixed.

[2019-07-01 19:53] #29 closed, assigned to mvaudel

[2019-07-01 20:13] hbarsnes opened #35 "The Copy to File options for the tables have to be reimplemented"
Currently results in "Export not implemented" exceptions being thrown.

Look for the following tag:

`// @TODO: implement standard export`

[2019-07-06 20:10] mvaudel commented on #33
Should be fixed with https://github.com/compomics/peptide-shaker/commit/9f77478343fe1e98196f46842265a09d90bd6d14

[2019-07-06 20:10] #33 closed, assigned to mvaudel

[2019-07-08 11:42] hbarsnes opened #36 "Two modifications at the same site"
Related to PS issue 260.

Data to reproduce the issue can be found here: http://vedlegg.uib.no/?id=4ecd6fd34cc85e9f5eb518a12bb0a55a.

[code]

[2019-07-08 11:47] hbarsnes opened #37 "Check the default spectrum annotation level"
The default spectrum annotation level needs to be checked as it now almost works more like an on/off filter. Seems to be most problematic on low intensity spectra.

See the following dataset for a good example where often very few peaks are annotated by default:
http://vedlegg.uib.no/?id=11932be68ed6d682cce66b1438408292.

[2019-07-08 11:50] hbarsnes opened #38 "Reintroduce the Database Details dialog"
The Database Details dialog ended up being dropped when moving the FASTA file out of the search parameters. We ought to find a way to reintroduce it.

[2019-07-11 10:21] hbarsnes opened #39 "getPossibleModificationSites fails on PTM patterns longer than one residue"
[code]

Example data to reproduce the exception can be found here: http://vedlegg.uib.no/?id=800dc064d829a334ff0f94dbfb341186

[2019-07-16 11:07] hbarsnes commented on #38
Fixed in https://github.com/compomics/searchgui/commit/4162625741373b154ed45dc271b2227c1e0afb83

[2019-07-16 11:07] #38 closed, assigned to hbarsnes

[2019-07-17 14:33] hbarsnes opened #40 "Support the peptide and PSM project modes in the GUI"
At the momet only the protein mode is supported in the GUI. Support should be implemented for loading only peptides and PSMs, and loading PSMs only.

[2019-07-19 05:56] CarlosHorro opened #41 "Reports crashing: possible lack of precission with long variable peptideKey?"
When trying to generate a "Default Peptide Report with non-validated matches" or "Default
Peptide Report" app crashes:
[code]
It seems that received peptideKeys are not always valid or correspond with a PeptideMatch. Tracing them, I find things like:
[code]
(after this last one the app crashed)

The negative key surprisingly seems to find its PeptideMatch, but 3912822032745665132 didn't. Java's lo

[2019-07-19 09:05] hbarsnes commented on #41
I can confirm that I get the same error on the example dataset.

@mvaudel Given that this used to work before, I'd start debugging the latest changes you made to the method in question: https://github.com/compomics/compomics-utilities/commit/2110e92d42c53567a97ca08ec2fb842921b552ca?

[2019-07-19 09:31] hbarsnes commented on #41
Bug fixed in https://github.com/compomics/peptide-shaker/commit/425ce5529b0228857c1283ee9a7ecab71c773886 and https://github.com/compomics/compomics-utilities/commit/22722c820cabbd761eabf02d0d06e387e9c844ff.

I'm not really sure why this fix works though? All I did was change the location of where the peptide key is extracted..?

[2019-07-19 09:45] #41 closed, assigned to mvaudel

[2019-07-29 21:42] CarlosHorro opened #42 "Problem with dataset and Protein reports (normal and non-validated matches)"
Hi,

I'm having an exception with a SearchGUI file created with Yehia's worflow in Galaxy when loaded in new_backend PeptideShaker app and I try to generate a Default Protein report with or without non-validated-matches:

[code]

I also tried to reuse the old implementation of getSitesSummary instead of the new one:

[code]

But there is a very similar error with it too:

[code]

So the problem se

[2019-07-30 18:17] hbarsnes commented on #42
@CarlosHorro Highly recommended to use the "Insert code" option when pasting in code. Makes the text much more readable. So I edited your text above. ;)

[2019-07-30 18:38] hbarsnes commented on #42
@CarlosHorro I'd also recommend checking the Database Processing settings for this dataset as they seemed to be using "-REVERSED" as the decoy tag while the FASTA file uses "_REVERSED", hence the FDR validation does not work correctly. Probably does not affect the bug, but worth correcting.

(Note that the change from "_REVERSED" to "-REVERSED" was made a while back in the new backend, but as it o

[2019-09-09 13:29] hbarsnes commented on #40
Implementation completed in https://github.com/compomics/peptide-shaker/commit/35e355baf87dce8b77aae6b4a5c12a1f41d4b17e.

[2019-09-09 13:29] #40 closed, assigned to hbarsnes

[2019-09-12 20:50] mvaudel commented on #42
This commit solves the problem of the export. But we ought to verify that the ambiguous sites assigned to each representative make sense.
https://github.com/compomics/peptide-shaker/commit/d56f4fd2c60ca5a4b57922f3509e697c3a24927f

[2019-09-17 16:16] CarlosHorro commented on #42
I can confirm that the reports export works again :-)
But not very sure about how to confirm that the ambiguous sites make sense... so I share the generated Protein report in case it may help you to check it...

https://www.dropbox.com/s/nppi5zn8d7vdynr/Protein_Report_with_non-validated_matches.xlsx?dl=0

[2019-11-05 10:43] hbarsnes commented on #42
I will set this one to closed, as the reported bug has been fixed. We can always open a new issue if it turns out that the ambiguous sites do not make sense. :)

[2019-11-05 10:43] #42 closed, assigned to mvaudel

[2019-11-06 13:20] hbarsnes commented on #35
Fixed in https://github.com/compomics/peptide-shaker/commit/3f937a809bb46cfa71c520a7a4c5de84417d02d0. Still room for improvement, but not really an issue anymore.

[2019-11-06 13:20] #35 closed, assigned to mvaudel

[2019-11-06 15:22] hbarsnes commented on #32
The source of the issue is that while ProteinUtils.getObservableAminoAcids is used for the possible coverage value shown above the coverage plot and in the coverage column in the protein table, the coverage plot itself is based on the estimateCoverableAA method in IdentificationFeaturesGenerator.

The former only calculates if the given amino acid can be detected or not given the enzyme and peptid

[2019-11-07 13:42] hbarsnes commented on #39
Fixed in https://github.com/compomics/compomics-utilities/commit/b7a25461a57f8d19bb3551ddc00d02742dc1e4cf

[2019-11-07 13:42] #39 closed, assigned to mvaudel

[2019-11-07 19:22] hbarsnes commented on #6
Fixed in https://github.com/compomics/compomics-utilities/commit/2cb778ab61f3e75724f2dd351cc30f01f8c91ba5.

[2019-11-07 19:22] #6 closed, assigned to mvaudel

[2019-11-08 17:06] hbarsnes commented on #37
Fixed in https://github.com/compomics/compomics-utilities/commit/1b777ed14dfc7bfd91102914aca011e316ccf7cf.

[2019-11-08 17:06] #37 closed, assigned to mvaudel

[2019-11-08 18:03] hbarsnes commented on #31
Fixed in https://github.com/compomics/peptide-shaker/commit/310714a128af9a009053df04c70785caaac9cac3.

[2019-11-08 18:03] #31 closed, assigned to mvaudel

[2019-11-08 18:31] hbarsnes commented on #36
The link to download the data to reproduce the issue had timed out. Here's an updated link: http://vedlegg.uib.no/?id=9e7cfe34852f509c6195f6d88ef8c38f.

The stack trace is still the same, only it's at Peptide.java:377 now.

[2019-11-08 20:23] hbarsnes commented on #36
@mvaudel I've located the source of this issue, but I need your help on how to fix it correctly.

Basically the PhosphoRS calculation creates peptides with PTM profiles that are not supported, i.e.
two PTMs on the same residue, and then complains that this is not supported when trying to score the unsupported option...

Just to be clear, the PTM profiles provided by the search engines are all fine

[2019-11-20 12:34] hbarsnes commented on #36
The same issue also occurs if setting "Probabilistic Score" to "None" but keeping "Site Alignment" as "Yes".

[code]

[2019-11-20 12:35] hbarsnes commented on #36
Temporary fix: The issue is avoided if setting the "Probabilistic Score" to "None" and "Confident Sites" under "Site Alignment" to "No" in the "PTM Localization" settings dialog.

[2019-11-21 12:04] hbarsnes commented on #32
Fix: An explanation of what the possible coverage means has now been added to the help text.

[2019-11-21 12:04] #32 closed, assigned to mvaudel

[2019-11-23 03:11] chrishuges opened #43 "IdentiPy"
Hi,

Really liking the new beta releases! I don't see IdentiPy though (CLI or GUI). Am I just missing it, or has it not been fully integrated yet? Not urgent, just wondering.

Thanks,
Chris

[2019-11-23 19:17] hbarsnes commented on #43
Hi Chris,

Perhaps I forgot to add the name to the list of supported formats. I will look into this next week. But if you try loading an IdentiPy pep.xml file it should work?

Best regards,
Harald

[2019-11-28 14:56] MarcIsak opened #44 "Not enough representative modification sites found"
Hi Harald,

I am using PeptideShaker 2.0-beta for Windows to process search results from Comet and X!Tandem in SearchGUI 4.0.0-beta. I have searched 7 RAW-files with sizes around 1 GB.

Unfortunately, there is a step in which processing in PeptideShaker always stops. It is at the **Scoring Peptide Modification Localization**. It is when 85% of the processing has been complete, see attached image.

[2019-11-28 15:52] hbarsnes commented on #44
Hi Marc,

There is probably an undetected bug in the PTM scoring. Can you share the PeptideShaker log file? You'll find it via the Welcome dialog > Settings & Help > Help > Bug Report.

Best regards,
Harald

[2019-12-05 21:32] mvaudel opened #45 "Improve the docs for spectrum counting normalization"
Find a right place to explain how this is done and how to edit the settings.

[2019-12-06 15:25] hbarsnes commented on #45
@mvaudel I've just added the help icon etc. to the SpectrumCountingSettingsDialog, linking to an empty help file for you to fill in the details. :)

[2019-12-08 09:10] tivdnbos opened #46 "Null pointer in the protein inference due to custom FASTA headers"
Hi,

First of all: great to see that the new version of PeptideShaker is out! :)
I started some searches last week Thursday, but since then the progress is still on 94% and the memory consumption stays around 95 GB RAM. The progress bar on the left also doesn't show a percentage. In the previous version of PeptideShaker, the memory consumption went over 200 GB RAM and crashed afterwards.
I have to

[2019-12-08 12:13] mvaudel commented on #46
Hi Tim,

Thanks for giving the new versions a spin on this data set. Just eyeballing htop and the progress dialog, it seems that the tool is busy sorting the proteins - this is a quite demanding step but given that IO and RAM do not seem to be limiting it should merely be a matter of better using the CPUs. I will look into it, but things are quite hectic these days so I will most likely not be abl

[2019-12-08 19:28] hbarsnes commented on #46
Hi Tim,

Just to be sure, I assume you have checked that there are no exceptions indicated in the PeptideShaker log file? In other words, that the problem is in fact the processing being slow and not that it has simply stopped due to an uncaught exception?

Best regards,
Harald

[2019-12-11 08:52] MarcIsak commented on #44
Hi Harald,

I tried to process new data in PeptideShaker 2.0.0-beta, and it stopped at _Scoring Peptide Modification Localization_ again:

![pept_shaker_v200_error](https://user-images.githubusercontent.com/47174270/70605927-b2e03200-1bfb-11ea-9b0b-acff9e899718.png)

This time, I can provide you with the error log file, see attached.

[PeptideShaker 2.0.0-beta log.txt](https://github.com/compomics

[2019-12-11 10:51] hbarsnes commented on #44
Hi Marc,

Ok, so there is a bug in the localization of the PTMs. Which search engines are you using? And which variable PTMs?

And could you try running without PTM scoring? I.e. set the "Probabilistic Score" to "None" and "Confident Sites" under "Site Alignment" to "No" in the "PTM Localization" settings dialog.

Best regards,
Harald

[2019-12-11 12:25] MarcIsak commented on #44
Hi Harald,

I used Comet, X!Tandem and MS Amanda. The searches went fine, even with MS Amanda this time.

I will try to run another analysis later today, where I have disabled the things mentioned above. I will get back to you after this.

Best,

Marc

[2019-12-11 12:26] MarcIsak commented on #44
...and I only used Oxidation on Methionine as variable mod.

Best,

Marc

[2019-12-11 17:48] MarcIsak opened #47 "Cannot reopen saved PeptideShaker projects"
Hi,

I tried to save a project as a _*.psdb_ file, but the program froze after a while. I had to go into the Task Manager to force it to shut down.

Interestingly, there was a _psdb-file_ saved to the specified folder.
But when I tried to load it into a new PeptideShaker session, I encountered this error. See attached.
![pept_error](https://user-images.githubusercontent.com/47174270/70645394-32deb

[2019-12-11 18:53] MarcIsak commented on #44
Hi Harald, I managed to import the SearchGUI output.

Still, I cannot save the project locally as a psdb-file and load it (but I opened a new issue for this).

[2019-12-12 09:20] tivdnbos commented on #46
Hi,

Thanks for looking into this. Indeed, it was very slow, but didn't crash. I was wondering since the status bar didn't show any progress (nor 0, nor any other number), if the process actually got started. Any how, I cancelled the process myself.

Best,
Tim

[2019-12-12 14:27] hbarsnes commented on #47
Hi Marc,

If the project saving is not completed the psdb file will be corrupt and cannot be opened. All the errors in the log file are related to opening the project, it would be more relevant to see any errors occurring when saving the project. But maybe there weren't any?

Best regards,
Harald

[2019-12-12 15:09] hbarsnes commented on #44
Hi Marc,

Could you also try loading just the X! Tandem results?

Best regards,
Harald

[2019-12-12 20:19] hbarsnes commented on #43
Hi Chris,

Did you manage to load IdentiPy results in the end? In other words, can I close this issue? :)

Best regards,
Harald

[2019-12-13 20:54] MarcIsak commented on #47
Hi Harald,

I managed to replicate the issue 4 times in a row. This is the procedure:

1. Successfully load SearchGUI output into PeptideShaker using only 6 out of 20 logical processors, with 24 GB RAM allocated for the Java VM.
2. Click on the Save project button to create a PSDB file.
3. A progress bar shows up, and it is moving initially.
4. Task manager shows that PeptideShaker uses > 95% of C

[2019-12-16 22:47] hbarsnes commented on #47
Hi Marc,

And there are no errors in the PeptideShaker log file when saving? Only when opening?

Would it be possible for you to share the SearchGUI output you are trying to load and save? Then we could check if the error can be reproduce on our end?

Best regards,
Harald

[2019-12-18 07:06] MarcIsak commented on #47
Hi Harald,

I could share the SearchGUI output with you. But the file is quite big (~400 MB). I could create a Dropbox folder, and share the file with you in this way if it works for you? Then I would need your preferable mail address.

Best,

Marc

Best,

Marc

[2019-12-18 12:57] hbarsnes commented on #47
Hi Marc,

Sharing via Dropbox should work fine. But please share by sharing a link to the zip file containing all the data and not the Dropbox folder directly, as the latter takes up space on by Dropbox account while the former does not. :)

And please make sure that zip file contains all the files required to load the data in PeptideShaker, i.e. not just the search results but also the fasta and

[2019-12-20 19:53] hbarsnes commented on #44
Hi Marc,

I'm having a hard time with the memory/database issues. Made some progress, but seem like I need help from the two other developers that were in charge of implementing the new database backend.

However, if only loading the X! Tandem data I am able to both load, save and reopen. Perhaps you can use that as a temporary fix until we're able to solve the other issues?

Best regards,
Harald

[2019-12-20 19:56] hbarsnes commented on #47
Hi again,

Just confirming that I'm able to reproduce this issue as well. Happens, for example, if I only load the MS Amanda data, and even if the saving then actually completes. So there is clearly a bug here somewhere. I'll get back to you as soon as I've gotten the required input from the other developers.

Best regards,
Harald

[2020-01-09 13:03] MarcIsak opened #48 "Many PSMs passing the FDR filter (=0.01) have PeptideShaker scores = 0 - according to exported MzIdentML file."
Hi,

After loading a MzIdentML file (from a project that I successfully loaded into PeptideShaker 2.0.0-beta) into R, I noticed that some of the PSMs passing the FDR threshold of 0.01, had PeptideShaker scores equal to zero. I find this a little peculiar . I have attached a text file, which only contains the PSMs passing the threshold so that you can investigate this a little further.

[mzid_examp

[2020-01-09 22:09] hbarsnes commented on #48
Hi Marc,

That indeed looks strange. The PeptideShaker confidence values are all close to 100 though, so I don't think it's a problem with the data. Could you have a look at the same PSMs in the Spectrum IDs tab in PeptideShaker? You can display the scores by selecting View > Scores in the menu at the top left. This should show us if the problem is in the mzid export.

The odd part is perhaps not

[2020-01-10 13:40] MarcIsak commented on #48
Hi Harald,

thanks for the quick response on this. I would just like to say that when I analyzed the same dataset in PeptideShaker v.1.16.42, the exported MzIdentML looked more reasonable. The lowest PeptideShaker score for the PSMs passing the FDR=0.01 threshold was 8.98. But for that analysis, there were no MSAmanda results but only X!Tandem and Comet. Perhaps the integration of MSAmanda into th

[2020-01-11 13:01] hbarsnes commented on #48
Hi Marc,

I've looked into this, and the scores are all rounded to four decimals. Hence all scores lower than 0.00005 will end up as 0.0. I therefore assume that the scores are low in the Spectrum IDs tab as well.

The question is then why the scores are that low when the confidence is high. @mvaudel Any ideas?

Best regards,
Harald

[2020-01-11 13:16] hbarsnes commented on #48
Hi again,

I figured out the problem. In the old version we used to transform the scores, but for some reason we do not do this anymore (at least not all the time). I will check with @mvaudel why this is the case and get back to you. In any case, if you for now focus on the confidence values and ignore the scores you should be fine.

Thanks for enabling us to locate this bug!

Best regards,
Harald

[2020-01-14 15:04] hbarsnes opened #49 "DirecTag results can only be loaded on their own"
Loading DirecTag results (or PepNovo/pNovo) together with other search results, is canceled with the following exception being thrown:

[code]

Loading DirecTag data on it's own works fine.

[2020-01-17 15:36] hbarsnes commented on #48
Hi Marc,

I've just updated the beta release of PeptideShaker which should take care of the issues with the zero score values: http://genesis.ugent.be/maven2/eu/isas/peptideshaker/PeptideShaker/2.0.0-beta/PeptideShaker-2.0.0-beta.zip.

It should also speed up the loading of the PSMs.

Best regards,
Harald

[2020-01-17 15:36] #48 closed, assigned to mvaudel

[2020-01-17 15:41] hbarsnes commented on #47
Hi Marc,

Just wanted to let you know that we are now working with the developers of the database we use when storing and reopening the PeptideShaker projects. Hopefully they will be able to track down the source of the problem so that we can have a new version out soon where large projects can actually be reopened.

Best regards,
Harald

[2020-01-17 15:43] #43 closed, assigned to hbarsnes

[2020-01-18 16:57] MarcIsak commented on #47
Hi Harald, I am looking forward to try the new beta-release once this issue is fixed.

Best,

 Marc

[2020-01-21 20:30] mvaudel commented on #46
This process is now taking better advantage of multiple CPUs.
https://github.com/compomics/peptide-shaker/commit/27df26ba844347a2558ed77c5c726e97e06687ca
I am not sure whether it solves the issue but at least things should go faster. Would it be possible for you to share the database with us for testing? And maybe a couple of mgfs?

[2020-01-23 12:24] hbarsnes commented on #46
Hi Tim,

An updated beta release is now available: http://genesis.ugent.be/maven2/eu/isas/peptideshaker/PeptideShaker/2.0.0-beta/PeptideShaker-2.0.0-beta.zip.

Please give it a go an let us know if it solves the issue or not.

Best regards,
Harald

[2020-01-23 12:55] hbarsnes commented on #49
Solved with https://github.com/compomics/peptide-shaker/commit/bc83793d830d8d8ec697a88905d491ad40153856

[2020-01-23 12:55] #49 closed, assigned to mvaudel

[2020-02-03 22:53] tivdnbos commented on #46
Hi Harald, Marc,

I just stopped the loading of the search results after approx. 7 days of not getting by "Selecting leading proteins, inferring peptide and protein inference status"...

Best regards,
Tim

[2020-02-04 12:43] hbarsnes commented on #46
Hi Tim,

And there were no exceptions in the PeptideShaker log file?

Best regards,
Harald

[2020-02-12 15:29] ohickl opened #50 "Problems running Comet and Andromeda in 4.0.0 beta on Linux server"
Hi,
I'm having trouble running Comet and Andromeda on a Linux server.
I am using the following command:
[code]
Using either Comet or Andromea will give me different errors while e.g. X!Tandem and MS-GF+ run fine.

Comet outputs the following when I use the default tmp folder path:
[code]
With log entry:
[code]
With custom temp and comet_temp folder I get:
[code]
With log entry:
[code]
Andromeda ou

[2020-02-12 20:49] hbarsnes commented on #50
Hi Oskar,

All of the issues above should hopefully be solved by using complete paths instead of relative paths in the command line.

Best regards,
Harald

[2020-02-12 20:56] hbarsnes commented on #50
Hi again,

One correction. The Andromeda issues will not be solved by using complete paths, as Andromeda is only supported on Windows. :)

A version for Linux was in development, but I do not know what the status is. But we will of course update the Andromeda version in SearchGUI when/if a new version becomes available.

Best regards,
Harald

[2020-02-13 12:34] ohickl commented on #50
Hi Harald,
using absolute paths seems to work, thanks!
Regarding Andromeda, didnt they release the mono version of MaxQuant some time ago? Or does that not mean that Andromeda will now also work on Linux as a standalone?

[2020-02-13 12:48] hbarsnes commented on #50
They did. But the standalone version of Andromeda was never officially released as far as I know. We had access to a beta version a while back, but it had some unresolved bugs. We'll contact them again to check the status.

[2020-02-13 12:48] #50 closed, assigned to hbarsnes

[2020-02-18 13:57] hanne-hox commented on #46
Hi Harald!
I am the one giving Tim hopeless data sets to analyse. I also got the same issue as Tim decribes above with the new beta version and another dataset: the progress is halted at 86% even though it was quite efficiently getting up to there. I will leave the process running until tomorrow, but I am not too hopeful, considering the experiences Tim had? Edit: After 24 hours, it is still at th

[2020-02-19 12:47] hbarsnes commented on #46
Hi Hanne,

I meant the PeptideShaker error log. You'll find it via the Welcome dialog > Settings & Help > Help > Bug Report. :)

Best regards,
Harald

[2020-02-19 13:16] hanne-hox commented on #46
Here is the bug report. :-)
Seems like it has some issues with creating the project.
(I have tried running it several times with different number of files, and even just one sample, but encounter the same issue every time in the beta-version. In version 1.16.44 I am able to get out results from one single file, but not multiples, which is cancelled due to memort restriction).

[PeptideShaker 2.0.0

[2020-02-19 13:42] hbarsnes commented on #46
There seems to be a bug in the protein inference:

[code]

Which seems to be due to a formatting issue with your FASTA file. If you have non-standard headers I would urge you to use our non-standard header formatting as detailed here: https://github.com/compomics/searchgui/wiki/DatabaseHelp#non-standard-fasta. This should hopefully fix the problem. You will have to research the data though.

I'm a

[2020-02-21 14:36] ohickl opened #51 "Null pointer when trying to run PeptideShakerCLI"
Hi again,

when trying to load my SearchGUI results using:
[code]
 I get the following error:
[code]
The same happens after unzipping the SearchGUI output, if i only specify the archive.
Seems like its something with the database? I changed the headers to the generic format and added the decoys with the FastaCLI module.

Best

Oskar

[2020-02-21 15:35] hbarsnes commented on #51
Hi Oskar,

There was an undetected bug in the code trying to locate the FASTA file. Should be fixed. I'll let you know as soon as we manage to release an updated beta version.

Best regards.
Harald

[2020-02-21 15:42] ohickl commented on #51
Ok, thanks!

[2020-02-21 16:04] hbarsnes commented on #51
Hi again,

You can find an updated beta release here: https://www.dropbox.com/s/us9y9sif3iakrxs/PeptideShaker-2.0.0-beta.zip?dl=0.

Please let me know if you still experience issues with the new version.

Best regards,
Harald

[2020-02-21 19:55] ohickl commented on #51
It runs further now, but I get this:
[20200221_ps_stdout.log](https://github.com/compomics/peptide-shaker-2.0-issue-tracker/files/4237800/20200221_ps_stdout.log)
Log:
[20200221_PeptideShaker_part.log](https://github.com/compomics/peptide-shaker-2.0-issue-tracker/files/4237802/20200221_PeptideShaker_part.log)
Its still running, but I suspect its stuck and not progressing anymore.

[2020-02-22 16:16] hbarsnes commented on #51
The 2D_10pH_G1_2_pH2_5.comet.pep.xml file seems to have formatting issues:

`could not resolve entity named '_EAL_domains" num_tot_proteins="1"  ...`

Looks like an issue with one or more of your protein accession numbers or names/descriptions. Please make sure that accesion numbers, protein names, etc, do not contain quotation marks, which `'_EAL_domains` seems to do, as this can often mess up th

[2020-02-24 17:52] ohickl commented on #51
I couldn't find any quotation marks in that database but I will use a different one to try and eliminate faulty headers as a source of errors.
I used a different data set just to see if I could get it to work. It runs further now but crashes while doing protein inference.
Also the same data set loads without any problems on the same PeptideShaker version with the same parameters using the gui on m

[2020-02-25 11:16] hbarsnes commented on #51
Not even if you search for something including `_EAL_domains`?

I'm afraid this is a known issue we are already working on: https://github.com/compomics/peptide-shaker-2.0-issue-tracker/issues/47.

That is strange. Which enzyme are you using? And would it be possible for you to share this dataset with me so that I can try to reproduce the issue?

[2020-02-25 12:01] ohickl commented on #51
No, they all have the format ...\_(GGDEF_&_EAL_domains)\_...

Trypsin.

Sure, where should I send the link to?

[2020-02-25 12:06] hbarsnes commented on #51
Perhaps the & is a problem?

You can send it to me at harald.barsnes@gmail.com.

[2020-02-25 12:29] hbarsnes commented on #51
Thanks for sharing the files. However, it's probably easier if you share the zip file from SearchGUI as well? That way I will not have to redo the search and will be guaranteed to be loading the exact same data.

[2020-02-25 12:37] ohickl commented on #51
Ah, yes. I included it in the shared folder.

[2020-02-25 13:34] hbarsnes commented on #51
Thanks. I can confirm that I'm able to reproduce the issue. Seems to be due to problems parsing the custom headers correctly. I would recommend using our non-standard header format when having custom headers: https://github.com/compomics/searchgui/wiki/DatabaseHelp#non-standard-fasta.

[2020-02-27 07:42] hanne-hox commented on #46
Finally got around to test the issue. Used the 2.0.0.0-beta version still, and modified the headings to include the >generic|accession no. as you suggested. Now I was able to progress beyond the "Selecting leading proteins..." point.

At the QC/validation point I ran out of memory and the process was terminated. I then did discover that the PS have reverted back to using only 1GB memory and the 32

[2020-02-27 08:11] tivdnbos commented on #46
@hanne-hox : I'll give it a try again :)

[2020-02-27 10:12] MarcIsak commented on #47
Hi Harald,

Long time no see! I would just like to know the status of this issue. As you know, I am looking forward to try another beta-version once this issue is fixed!

Best,

Marc

[2020-02-27 10:31] hanne-hox opened #52 "Export data as fractions"
I suddenly discovered in the new beta-version, that my favorite Expore function: the Fractions-pane has disappeared! Any hopes of getting this back?

Or getting any hints on how to make a new report that provides the samples-wise peptides, spectra and intensities?

[2020-02-27 11:04] hbarsnes commented on #52
The fraction tab is still there, but it is only enabled for protein level projects and if you are loading results for more than one mgf file. Or are you saying that both of these are true and it is still not enabled?

[2020-02-27 11:08] hbarsnes commented on #47
Hi Marc,

I'm afraid we have had to yet again change the backend database. Mainly to fix some other performance issues we recently detected, but this should also solve the issue with reopening saved projects. Hopefully a new beta version will be available for testing soon, but I cannot say when. I will keep you posted.

Best regards,
Harald

[2020-02-27 12:14] hanne-hox commented on #52
Both are true, but I can't find the Fractions-selection under Export -> Identity features.
Protein was selected on the drag-down menu on the top right in the start-menu, and 23 mgf-files were loaded.

[2020-02-27 12:51] hbarsnes commented on #52
Ah, I thought you meant the Fractions tab in the main PeptideShaker window.

As for the Fractions export I need to check with @mvaudel. I assume it was removed in the refactoring of the code, but not sure if Marc has plans to re-add it or not. @mvaudel Perhaps you can comment on this?

[2020-02-27 16:30] hanne-hox commented on #52
correct, it is the export-function that I _really_ need.

[2020-02-28 09:51] ohickl commented on #51
I did use the generic format for a part of the sequences, others had uniprot headers.

Tot be sure I converted all headers to split generic format
e.g.:
[code]
 and the simple generic format
e.g.:
[code]
Use of both resulted in the same error as before.
And should it not also fail, when using the gui if the headers where faulty? It ran fine, though.
Also when using the simple generic header db wit

[2020-03-03 10:53] hbarsnes commented on #51
Can you share the new search results as well?

[2020-03-03 14:55] ohickl commented on #51
I added them to the shared folder and sent you the link.

[2020-03-09 16:48] ohickl commented on #51
I found the problem. It was actually the database. There where some sequences that had an identical id. Apologies, for the mess.
It all works fine now. The only thing that is still happening is printing ridiculously high progress numbers when unzipping the SearchGUI zipped input. Also ReportCLI still produces the error from issue #47 I think.

[2020-03-10 12:50] hbarsnes commented on #51
No worries. Good to hear that you were able to figure it out in the end.

Yes, we know about this one, but perhaps you can create a new issue just so that we do not forget about it? :)

Yes, this one is still unsolved. Seems like we have to yet again change the database to get it to work properly...

I will then close this specific issue, but do not hesitate to open a new one if you come across ot

[2020-03-10 12:50] #51 closed, assigned to hbarsnes

[2020-04-13 06:03] CarlaCristinaUranga opened #53 "Error double insertion"
Hi I got this error with the new Peptide Shaker 2.0 beta version, perhaps it is also a known error? Thanks for your attention!

<img width="791" alt="Screen Shot 2020-04-12 at 11 01 02 PM" src="https://user-images.githubusercontent.com/22406027/79096321-a7b82280-7d11-11ea-9728-cc458b663863.png">

[2020-04-13 15:21] CarlaCristinaUranga commented on #53
Hi so the program passed the aforementioned hurdle now, but it seems to be getting stuck. Is this because of the large size of the database and .mgf file? My files are all 2 GB each, and I am using a large Uniprot database consisting of all bacteria sequences.  I am definitely processing each file individually because of the large size. I am not sure how long would be considered normal for complet

[2020-04-13 15:30] hbarsnes commented on #53
Hi Carla,

I've been able to reproduce this error using Tide as well. I will look into it and get back to you. In the meantime you can perhaps leave Tide out when loading the search results?

Best regards,
Harald

[2020-04-13 15:31] hbarsnes commented on #53
PS: Note that I moved the issue to the PeptideShaker 2.0 issue tracker: https://github.com/compomics/peptide-shaker-2.0-issue-tracker.

[2020-04-13 17:28] hbarsnes commented on #53
@CarlaCristinaUranga The Tide issue has now been resolved. I will release a new beta version as soon as I've sorted out some other issues as well.

[2020-04-13 17:31] hbarsnes commented on #53
If using big files this step can take some time to complete. The only way to make it go faster is to give PeptideShaker more memory. Please see: https://github.com/compomics/compomics-utilities/wiki/JavaTroubleShooting#memory-issues.

If the process does not complete, please send us the PeptideShaker log file.

[2020-04-13 17:32] CarlaCristinaUranga commented on #53
Fantastic! Is there a way to troubleshoot protein inference issues? All of
my files are getting stuck at this stage and not proceeding. How long
should this step take?

Best,
Carla

On Mon, Apr 13, 2020, 10:28 AM Harald Barsnes <notifications@github.com>
wrote:

[2020-04-13 17:34] CarlaCristinaUranga commented on #53
HibI am running it with 15 GB of memory already. I will send over the log
file if it doesn't proceed in a couple of hours. Thanks!

On Mon, Apr 13, 2020, 10:31 AM Harald Barsnes <notifications@github.com>
wrote:

[2020-04-13 19:56] hbarsnes commented on #53
This highly depends on the size of your spectrum files and the protein sequence database used. And to some extent the search settings.

The new beta version should require less memory than the current release. But we have not yet tested this in detail. For the old version we often used 60+ GB of memory when processing large datasets. Note that it is possible to process large datasets with a lot le

[2020-04-14 16:36] hanne-hox commented on #52
Did you have a chance to look into this? Can it be implemented, or are there any choices I can do to make a custom report like this?

I got a data set where I need fraction information to be exported, and ran into an issue similar to earlier reported for the older PS-version (issue #366, https://github.com/compomics/peptide-shaker/issues/366). As many as 363 of the 3371 confidently identified prot

[2020-04-18 02:12] CarlaCristinaUranga opened #54 "ReportCLI not functioning"
[PeptideShaker.log](https://github.com/compomics/peptide-shaker-2.0-issue-tracker/files/4495872/PeptideShaker.log)

My commands:
java -cp PeptideShaker-2.0.0-beta.jar eu.isas.peptideshaker.cmd.ReportCLI -in /local/ifs2_projdata/0780/projects/SMU_MUC/curanga/fasta/ps_out/output1.cpsx -out_reports /local/ifs2_projdata/0780/projects/SMU_MUC/curanga/fasta/output -reports 0, 1, 3, 4, 6, 9, 11 -report_p

[2020-04-18 03:28] CarlaCristinaUranga commented on #54
I tried re-running PeptideShaker to produce a .zip output file and I got this error:

Fri Apr 17 20:23:56 PDT 2020 Unzipping output3.zip. Please Wait...
10% 20% 30% 40% 50% 60% 70% 80% 90% 100%
Fri Apr 17 20:25:36 PDT 2020 An error occurred while loading the spectrum file(s).
/local/ifs2_projdata/0780/projects/SMU_MUC/curanga/fasta/PeptideShaker-2.0.0-beta/resources/matches/.nfs0000000325693c8d005

[2020-04-18 09:27] hbarsnes commented on #54
Due to the known issue with opening saved projects (https://github.com/compomics/peptide-shaker-2.0-issue-tracker/issues/47) you cannot yet use the ReportCLI command line in the beta version. The trick is therefore to add the -out_reports and -reports options directly to the PeptideShakerCLI command line. This is also generally faster, given that you do not have to save and reopen the project.

[2020-04-18 15:41] CarlaCristinaUranga commented on #54
Would syntax like this work?:
java -cp PeptideShaker-2.0.0-beta.jar
eu.isas.peptideshaker.cmd.PeptideShakerCLI -reference salivary_metaproteome
-fasta_file
/local/ifs2_projdata/0780/projects/SMU_MUC/curanga/fasta/SearchGUI-4.0.0-beta/HOMDdb.fasta
-identification_files
/local/ifs2_projdata/0780/projects/SMU_MUC/curanga/fasta/SearchGUI-4.0.0-beta/mgf/output2/CU_2RPP_02.msgf.mzid
-spectrum_files
/loc

[2020-04-18 19:42] hbarsnes commented on #54
Almost. You just have to change -reports 0, 1, 3, 4, 6, 9, 11 into -reports "0, 1, 3, 4, 6, 9, 11"

[2020-04-19 01:00] CarlaCristinaUranga commented on #54
Hmmm still no cigar for me. I tried with embedding the entire Report CLI java command with Peptide Shaker and with only including the commands from Report CLI:

java -cp PeptideShaker-2.0.0-beta.jar eu.isas.peptideshaker.cmd.PeptideShakerCLI -reference salivary_metaproteome -fasta_file /local/ifs2_projdata/0780/projects/SMU_MUC/curanga/fasta/SearchGUI-4.0.0-beta/HOMDdb.fasta -identification_files

[2020-04-19 10:07] hbarsnes commented on #54
When using the ReportCLI options via the PeptideShakerCLI you should not include -in /local/ifs2_projdata/0780/projects/SMU_MUC/curanga/fasta/PeptideShaker-2.0.0-beta/reports/rpp_02.cpsx

[2020-04-19 14:48] CarlaCristinaUranga commented on #54
Ok I still can't get it to work, I can't give up. Proteomics is too
interesting! Here is what I tried, I put each command on a separate line so
it is easier for you to read. Thank you Harald!

Try#1 with java called twice:

java -cp PeptideShaker-2.0.0-beta.jar
eu.isas.peptideshaker.cmd.PeptideShakerCLI -reference salivary_metaproteome
-fasta_file
/local/ifs2_projdata/0780/projects/SMU_MUC/curanga

[2020-04-19 16:01] hbarsnes commented on #54
This will not work until we've fixed the issue with reopening saved PeptideShaker projects. (And would requrie that you add the -in option with the PeptideShaker project to the second command line.)

This one looks more promissing. So what kind of errors do you get when trying to run it?

[2020-04-19 16:54] CarlaCristinaUranga commented on #54
This is the error I get:

[curanga@bigmem-11 PeptideShaker-2.0.0-beta]$ Error: A JNI error has
occurred, please check your installation and try again

Exception in thread "main" java.lang.NoClassDefFoundError:
com/compomics/util/experiment/personalization/UrParameter

at java.lang.Class.getDeclaredMethods0(Native Method)

at java.lang.Class.privateGetDeclaredMethods(Class.java:2701)

at java.lang.

[2020-04-19 17:12] hbarsnes commented on #54
And what is the command line you are trying to run when getting this error?

And which Java version are you using? You can find out by running java -version

[2020-04-19 17:20] CarlaCristinaUranga commented on #54
*Thank you for your patience!*

*Java -version:*

[curanga@bigmem-11 PeptideShaker-2.0.0-beta]$ java -version

openjdk version "1.8.0_232"

OpenJDK Runtime Environment (build 1.8.0_232-b09)

OpenJDK 64-Bit Server VM (build 25.232-b09, mixed mode)

[curanga@bigmem-11 PeptideShaker-2.0.0-beta]$

*Commands (on separate lines for ease of reading):*

java -cp PeptideShaker-2.0.0-beta.jar
eu.isas.peptid

[2020-04-19 18:39] hbarsnes commented on #54
If I replace your paths with my own I'm able to run your PeptideShakerCLI without any issues.

You may try updating your Java version?

[2020-04-20 16:06] CarlaCristinaUranga commented on #54
*Hi so I updated my java version to version 14:*

[curanga@lserver1 PeptideShaker-2.0.0-beta]$ java -version

openjdk version "14.0.1" 2020-04-14

OpenJDK Runtime Environment (build 14.0.1+7)

OpenJDK 64-Bit Server VM (build 14.0.1+7, mixed mode, sharing)

[curanga@lserver1 PeptideShaker-2.0.0-beta]$

*I did verify that the installation was correct by running SearchGUI and
this was successful usin

[2020-04-20 16:41] CarlaCristinaUranga commented on #54
Maybe if you could let me know what version of Java you are using and I
will switch to your version. Thanks again Harald!

Best wishes,
Carla

On Mon, Apr 20, 2020 at 9:06 AM Carla Uranga <urangacarla@gmail.com> wrote:

[2020-04-20 17:16] hbarsnes commented on #54
I tested with java version "1.8.0_241" yesterday. Oracle not OpenJDK though. But should not matter.

Maybe there is something wrong with your PeptideShaker build. Try this updated beta version: http://vedlegg.uib.no/?id=fc7352ef0a49748af9fb3a4a2dae1c04.

[2020-04-20 18:08] CarlaCristinaUranga commented on #54
*Ok the program got a little further but then reported this error:*
Mon Apr 20 10:50:39 PDT 2020: PeptideShaker version 2.0.0-beta.
Memory given to the Java virtual machine: 32178700288.
Total amount of memory in the Java virtual machine: 2155872256.
Free memory: 2137188352.
Java version: 14.0.1.
java.lang.NullPointerException
at
com.compomics.util.experiment.identification.peptide_shaker.PSModifi

[2020-04-20 18:12] CarlaCristinaUranga commented on #54
*The output log file says this (just the end part)*
Mon Apr 20 10:58:34 PDT 2020 Importing PSMs from CU_2RPP_02.msgf.mzid
 60% 70% 80% 90% 100% 110% 120% 130% 140% 150%
Mon Apr 20 11:00:10 PDT 2020 File import completed. 101093 first hits
imported (848258 total) from 109497 spectra.
Mon Apr 20 11:00:10 PDT 2020 [101093 first hits passed the initial
filtering]
Mon Apr 20 11:00:11 PDT 2020 Computing

[2020-04-20 19:17] CarlaCristinaUranga commented on #54
*I also get this upon submitting the command on the terminal (ssh):*

WARNING: An illegal reflective access operation has occurred

WARNING: Illegal reflective access by
com.google.gson.internal.bind.ReflectiveTypeAdapterFactory
(file:/local/ifs2_projdata/0780/projects/SMU_MUC/curanga/proteomics/PeptideShaker-2.0.0-beta/lib/gson-2.4.jar)
to field java.awt.Color.value

WARNING: Please consider repo

[2020-04-20 19:29] hbarsnes commented on #54
Ok, so at least you now get it to run. :)

Can you share the data so that I can try to reproduce the issue on my end?

The illegal reflective access warning you can ignore.

[2020-04-20 19:41] hbarsnes commented on #46
@hanne-hox @tivdnbos Can we close this one?

[2020-04-20 19:48] CarlaCristinaUranga commented on #54
Ok do you have a private email to share the data via the google drive?

Best,
Carla

On Mon, Apr 20, 2020 at 12:29 PM Harald Barsnes <notifications@github.com>
wrote:

[2020-04-20 19:57] hbarsnes commented on #54
Hi Carla,

You can send the link to me at harald.barsnes@gmail.com.

Best regards,
Harald

[2020-04-20 19:59] CarlaCristinaUranga commented on #54
ok I sent you the link to the data

On Mon, Apr 20, 2020 at 12:57 PM Harald Barsnes <notifications@github.com>
wrote:

[2020-04-20 20:06] hbarsnes commented on #54
As far as I can tell you shared a folder that only contains four mgf files? Or are you still uploading data to the shared folder? I need all of the files you use as part of your command line.

[2020-04-20 20:53] CarlaCristinaUranga commented on #54
ok it will take a bit to download the .zip file from Search GUI. Do you need the database as well? It is super large!

[2020-04-20 21:00] CarlaCristinaUranga commented on #54
I am looking for a way to transfer these massive files to you from the server...

[2020-04-20 21:01] hbarsnes commented on #54
Yes, I will need the database as well, but if it is very large I probably won't be able to open the project on my laptop anyway. Which is the only think I have access to at the moment. How large is super large btw?

So perhaps we should look into other options. For example, can you send me only your parameter file?

[2020-04-20 21:39] CarlaCristinaUranga commented on #54
I zipped it up and it is at 750 Mb. Unzipped it is 1.4 Gb! That is why a
server is absolutely required for this. A laptop is not able to do this. I
have attached the parameter file to this email in case you can use it.
Thank you! I hope we are able to solve this. You will go on the publication
as a co-author if we are able to get this to work.

Best wishes,
Carla

On Mon, Apr 20, 2020 at 2:02 PM H

[2020-04-21 00:56] hbarsnes commented on #54
Can I ask what kind of sequences the database contains given that it is so large?

I'm afraid that does not work. You have to upload the file via the issue tracker or send it to me directly.

[2020-04-21 01:59] CarlaCristinaUranga commented on #54
Hi Here is the uploaded .par file.

[saliva.par.txt](https://github.com/compomics/peptide-shaker-2.0-issue-tracker/files/4507243/saliva.par.txt)

[2020-04-21 03:28] CarlaCristinaUranga commented on #54
Yes the database is just the HOMD proteome database available from www.homd.org

[2020-04-21 08:54] hbarsnes commented on #54
Perhaps you can try turning of the PTM localization scoring? This should be fine given that you are not searching for biologically interesting PTMs anyway, such as phosphorylations.

To turn of the PTM localization scoring do the following: open your parameter file (preferably via the GUI), click the Show Advanced Settings, open the PTM Localization settings, set the Probalistic Score to None and

[2020-04-21 20:49] CarlaCristinaUranga commented on #54
*Hi I tried switching the parameter files in peptide shaker but got the
same error. I am re-running SearchGUI from the beginning with the new
settings to see if this helps:*

*Peptide Shaker log:*
Tue Apr 21 12:57:26 PDT 2020: PeptideShaker version 2.0.0-beta.
Memory given to the Java virtual machine: 32178700288.
Total amount of memory in the Java virtual machine: 2155872256.
Free memory: 2137188

[2020-04-21 22:11] CarlaCristinaUranga commented on #54
I am thinking that this is happening because we are using a non-Uniprot
database?

Carla

On Tue, Apr 21, 2020 at 1:49 PM Carla Uranga <urangacarla@gmail.com> wrote:

[2020-04-21 23:01] hbarsnes commented on #54
Are you sure this is with the new parameter file with the PTM localization scoring turned off? Because if Confident Sites (under Site Alignment) is set to No, the part of the code giving the error is not used.

No, I don't think so. The errors you are currently getting are all about PTM localization scoring. Which for some reason seems to happen more often when using MS-GF+ btw. So unless you have

[2020-04-21 23:11] CarlaCristinaUranga commented on #54
I swear I changed it, but if I got something wrong I attached the current
.par file. I am trying with a uniprot database, but thanks for the tip on
using another algorithm besides MSGF. Which one do you like that does not
have this problem?

Best wishes,
Carla

[2020-04-21 23:30] hbarsnes commented on #54
The parameter file you shared seems to be ok. Are you sure this is the one you are using on the command line?

Most of them should be fine. You can for example try X! Tandem.

[2020-04-22 00:14] CarlaCristinaUranga commented on #54
Harald I am obsessing over syntax! Hahaha I can't afford to make syntax
errors. SO I am now running SearchGUI with X! Tandem and am looking forward
to the results :). I will let you know! Have a great day and I hope you are
staying well during this coronavirus situation. Over here in the US we are
like the third world in our political response to this pandemic. It is
truly shameful how intellectua

[2020-04-23 17:49] CarlaCristinaUranga commented on #54
*Hi Harald so X! Tandem is definitely working. It is MSGF that is not
working, so you were right about this being an issue with MSGF. I have read
that MSGF is great because you get more hits. This is why I have been using
it, it is too bad that there is this bug, hopefully you guys can fix it in
future versions. I am currently using all algorithms except Tide, MSGF and
Andromeda to see if I can ge

[2020-04-23 21:58] hbarsnes commented on #54
Hi Carla,

Great! Good luck with the interpretation of the data!

I will then close this issue (as it was really about getting the ReportCLI to work), but do not hesitate to open a new one if you come across other problems.

Best regards,
Harald

[2020-04-23 21:58] #54 closed, assigned to hbarsnes

[2020-04-27 07:24] #46 closed, assigned to mvaudel

[2020-05-14 10:43] mvaudel opened #55 "Missing merge during peptide modification alignment"
Peptides are not merged when two ambiguous peptides are aligned to the same related peptide, hence creating redundant entries in the peptide set.

[2020-05-14 20:06] hbarsnes opened #56 "Fix sorting of PSMs in the Spectrum IDs tab"
The assumptions table in the Spectrum IDs tab is currently sorted incorrectly, should be sorted on confidence.

See populateIdResultsTable in eu.isas.peptideshaker.gui.tabpanels.SpectrumIdentificationPanel.

[2020-05-25 06:43] mvaudel commented on #56
Fixed in https://github.com/compomics/peptide-shaker/commit/4bc0b1a3ebe56ac8c43550ce35d91681ef733867.

[2020-05-25 06:43] #56 closed, assigned to mvaudel

[2020-05-26 13:22] mvaudel opened #57 "Extend documentation"
Extend documentation on frequently asked questions:
1- Project structure and Object model
2- Supported formats
3- Spectrum annotation
4- Secondary hits, selection of "best hit", breaking ties
5- Consensus score using multiple search engines
6- Peptide and protein inference
7- Hits validation at the PSM/peptide/protein levels and quality control
8- Modification parsing, localization scoring and ali

[2020-05-26 14:34] #52 closed, assigned to hbarsnes

[2020-05-26 14:36] hbarsnes commented on #47
The issue has been solved and a new beta version will released as soon as possible.

[2020-05-26 14:36] #47 closed, assigned to hbarsnes, dominik-kopczynski

[2020-05-26 14:39] hbarsnes commented on #53
The issue has been closed given that the initial double insertion error was solved. A new beta version will be released as soon as possible.

[2020-05-26 14:39] #53 closed, assigned to hbarsnes

[2020-05-27 09:00] dominik-kopczynski opened #58 "Protein count alternates"
In PeptideShaker 2.0, when I execute several times the same experiment with the same parameters and the same input files, I get different confident / doubtful protein counts.

[2020-05-28 10:16] hbarsnes commented on #58
The problem is the mass deviation quality control filter, specifically the precrusorMzErrorStat filter. It returns different p-values for the same precursor mz and mz error values.

See line 319 in com.compomics.util.experiment.identification.filtering.AssumptionFilter

If I instead use the precrusorMzErrorDa filter, the confident/doubtful protein counts stay the same across multiple project loadi

[2020-05-28 13:46] hbarsnes commented on #58
Should be fixed in https://github.com/compomics/peptide-shaker/commit/338e81d5ae589a35663daf8310fc1996c0fabd82.

[2020-05-29 05:48] dominik-kopczynski commented on #58
Thank you, but after pulling and compiling the freshest versions of SG and PS, I still have the same issue, but this time at the total number of proteins. The number hops in the qExactive example (searched by xTandem) between 1334 and 1336 proteins in total. The other values remain stable.

[2020-05-29 13:56] hbarsnes commented on #58
Should be fixed in https://github.com/compomics/peptide-shaker/commit/cea04f0e08465f78efe9c4794ad1915bfb9697dc.

[2020-05-29 13:56] #58 closed, assigned to mvaudel

[2020-06-04 04:49] CarlaCristinaUranga opened #59 "PeptideShaker going into endless loop"
Hi, in a previous communication, it was discovered that PeptideShakerCLI on a large-memory server was going into an endless loop because of a bug in reading mgf files, which were generated via msconvert. I was able to overcome this using PeptideShakerGUI on my computer, but I am now running into the same issue using PeptideShakerGUI. No error is reported, the program simply stalls and does not out

[2020-06-04 09:12] hbarsnes commented on #59
Hi Carla,

This bug has been fixed, but due to other unrelated issues we have not yet been able to update the beta release. I will let you know as soon as a new beta release is available.

Best regards,
Harald

[2020-06-04 13:56] CarlaCristinaUranga commented on #59
Ok. Well now is is evident that PeptideShaker freezes at the "Simplify Protein Groups" stage. Thank you and I am looking forward to the new version.

[2020-07-17 13:46] VladimirRoudko opened #60 "java.lang.RuntimeException"
Hello,

I am testing peptide-shaker-2.0.0 and encounter a few issues. The analysis of SearchCLI output did not finish correctly and threw an error after "Importing PSMs" step. Overall STDOUT before the error is the following:

Fri Jul 17 02:28:16 EDT 2020 Parsing 01CPTAC_COprospective_W_PNNL_20170123_B1S1_f01.tide-search.target.txt.
Fri Jul 17 02:28:17 EDT 2020 Loading spectra for 01CPTAC_COprospe

[2020-07-18 08:47] hbarsnes commented on #60
Hi Vladimir,

Have you checked the content of 01CPTAC_COprospective_W_PNNL_20170123_B1S1_f01.tide-search.target.txt? Are there actually any identifications in there?

And is Tide the only search engine causing issues or do you see similar issues if loading the results from the other search engines as well?

Best regards,
Harald

[2020-07-20 02:13] VladimirRoudko commented on #60
Hi Harald,

Thank you for quick response! yes, indeed there are identifications in the *.tide-search.target.txt. Identifications done by other search engines are loaded correctly - no errors posted. The worrisome that *resources/PeptideShaker.log does not post any error messages, so its not unclear what actually goes wrong.

Thank you,
Vladimir

[2020-07-21 04:53] VladimirRoudko commented on #60
Just a few updates:

I tested the search without Tide engine (including only X-tandem, OMSSA, MSGF, Myrimatch, Comet, Novor and Directag). This time PeptideShaker was able to load results without errors, but got frozen upon loading *.comet.pep.xml at the 5th fraction (total 12 fractions per sample). It seems either Java goes out of memory or hits some endless loop, without throwing any error messa

[2020-07-21 19:00] VladimirRoudko commented on #60
A few more observations:

I have a MS spectra from sample splitted on 12 fractions (total 12 mgf files). Intial Search+PeptideShaker analysis of all 12 files by 8 search engines (Tide, X-tandem, OMSSA, MSGF, Myrimatch, Comet, Novor and Directag) came up with error at peptideShaker level (see above).

Tests with 7 search engines excluding Tide get frozen upon import of *.comet.pep.xml at 5th fracti

[2020-07-21 21:39] hbarsnes commented on #60
Hi Vladimir,

No, there should not be. It should simply take longer if everything cannot keep in memory.

We have fixed several database issues after the beta version was released though, so it may be the problem you are seeing is already solved. We'll try to release an updated beta version as soon as everybody is back at the office in August. I will let you know when it's availalble.

Best regard

[2020-07-22 13:33] VladimirRoudko commented on #60
HI Harald,

Thanks for the suggestions - looking forward to the updated beta version. However, it might not be database issue rather PeptideShakerCLI import problem: everytime I run the pipeline it either freezes or cancels the run at the importing PSM step. Interestingly, irrespective to the search engine used.  Have you ever encounter such issue before?

Thanks,
Vladimir

[2020-08-09 21:27] shengbokw opened #61 "PeptideShakerCLI: java.lang.IllegalArgumentException: Not enough representative modification sites found."
Hi,

I've recently been using a series of tools from compomics and when exporting a cpsx file to a mzid file using PeptideShaker version 1.16.45, the export never succeeds if I use the CLI command line. So when I saw this issue, https://github.com/compomics/peptide-shaker/issues/208, I then decided to test peptideshaker version 2 and tried again. However,  I encountered this problem as follows:

S

[2020-08-10 08:08] shengbokw commented on #61
Hello,

Actually I also tried a smaller dataset to run these pipeline and got a cpsx file using PeptideShakerCLI command line successfully,  and then tried to use MzidCLI command line to export mzid file, but with an error of “java.lang.NullPointerException
        at eu.isas.peptideshaker.cmd.MzidCLIInputBean.<init (MzidCLIInputBean.java:139)
        at eu.isas.peptideshaker.cmd.MzidCLI.main(Mzid

[2020-08-10 12:28] hbarsnes commented on #61
Hi Shengbo,

I'm afraid that the "Not enough representative modification sites found" error is one of those remaining issues we still haven't gotten around to solving for the new beta release. The temporary fix is to do the following: Set the "Probabilistic Score" to "None" and "Confident Sites" under "Site Alignment" to "No" in the "PTM Localization" settings dialog (or in the IdentificationParam

[2020-08-11 08:42] shengbokw commented on #61
Dear Harald,

Thanks very much! I will try your advice.

Best wishes,
Shengbo

[2020-08-11 16:06] andrewjmc opened #62 "Large database memory usage"
Can you relate the size of the database to the RAM consumption during loading and use? I am trying to use PeptideShaker with SearchCLI results from a modest number of spectra (few 10s of k) with a large database (target-decoy >20 Gb). I allocated 50 Gb RAM to PeptideShaker, but found it ran out of memory through ~60% of the database import process. Of note, the database is not indexed, as the inde

[2020-08-25 08:54] shengbokw commented on #61
Dear Harald,

The tip you gave me earlier was very helpful, thanks, I've changed back to 1.16.45 running.

Recently, there was another problem that PeptideShaker encountered when I increased the input raw files from 5 to 15, the error is as follows:

Thu Aug 20 11:07:47 BST 2020 Removing Mapping Artifacts. Please Wait...
Thu Aug 20 11:07:47 BST 2020 2032 unlikely protein mappings found:
Thu Aug 20

[2020-08-25 09:55] hbarsnes commented on #61
Hi Shengbo,

This would seem to indicate issues with putting your protein groups into the underlying database. May I ask what database you are using? And what kind of enzyme?

Best regards,
Harald

[2020-08-25 22:54] shengbokw commented on #61
Hi Harald,

Thanks for your reply, I'm from the PRIDE team (Juan is my manager), and I'm currently re-analysis metaproteomics projects available on PRIDE. For this case, the protein database is from this link (https://www.ebi.ac.uk/pride/archive/projects/PXD005780), it's a Human Gut microbiome research, so the protein database was generated from metagenomics (with FragGeneScan I guess) and concate

[2020-08-26 09:42] hbarsnes commented on #61
Hi Shengbo,

I see that the database (without decoys) is close to 2.3 GB and with it being metaproteomics there will most likely be a lot of protein inference issues, which is what the error seems to indicate. Basically the combined list of accession numbers in a specific protein inference group is bigger than what the database can store.

Usually we would recommend using a smaller database, but I

[2020-08-31 08:07] dominik-kopczynski commented on #62
Hi Andrew, sorry for the delayed answer. To create the index, you need currently main memory at least 1.5 - 2.0x as big as your fasta file additionally. We are creating the index chunk wise. However, since many intermediate steps are necessary for the index requiring auxiliary memory, this overhead will unfortunately remain.

[2020-09-02 12:47] andrewjmc commented on #62
OK, thanks

[2020-09-03 09:00] shengbokw commented on #61
Hey Harald,

Thanks very much for your advise. For some reason, I'm going with the more stable version for now (1.16.45), but will try and test the new version later.

I solved the problem: "A string constant starting with ''2PH3LS1:185:C4516ACXX:6:1101:10510:51019_1_162_-_cus_2PH3LS&' is too long." by adding an map table (mapping those long protein sequence names to well-designed IDs) before Sear

[2020-09-03 09:13] hbarsnes commented on #61
Hi Shengbo,

Great! I will then close the issue. Please open a new one if you come across other problem.

Best regards,
Harald

[2020-09-03 09:13] #61 closed, assigned to hbarsnes

[2020-11-04 14:47] hbarsnes commented on #59
This issue should hopefully be fixed in the new releases that have now been made available. If not, please let us know by opening a new issue here: https://github.com/compomics/peptide-shaker/issues.

[2020-11-04 14:47] #59 closed, assigned to hbarsnes

[2020-11-04 14:48] hbarsnes commented on #60
This issue should hopefully be fixed in the new release that has now been made available. If not, please let us know by opening a new issue here: https://github.com/compomics/peptide-shaker/issues.

[2020-11-04 14:48] #60 closed, assigned to hbarsnes

[2020-11-04 15:37] CarlaCristinaUranga commented on #59
YAY!!! Thank you Harald, how awesome. I am wondering, is it a new beta
version or is this version available in the compomics website? Good to hear
you are OK, I hope things are getting better where you are!

Best wishes,

Carla Uranga

On Wed, Nov 4, 2020 at 6:47 AM Harald Barsnes <notifications@github.com>
wrote:

[2020-11-04 20:38] hbarsnes commented on #59
Hi Carla,

The new normal releases are available via the standard download links. :)

Best regards,
Harald

[2020-11-06 06:20] #62 closed, assigned to dominik-kopczynski

[2020-11-11 20:02] InduKhatri opened #63 "Creating mzIdentML file fails"
Hello,

I am trying to generate the mzId file from the psdb project file using the following command

java -cp PeptideShaker-2.0.0.jar eu.isas.peptideshaker.cmd.MzidCLI -in FULLPATH/FILE.psdb -contact_first_name FIRST -contact_last_name LAST -contact_email EMAIL -contact_address NL -organization_name ORG -organization_email EMAIL -organization_address Leiden -output_file FULLPATH/CRC_01_mz.mzid -g

[2020-11-11 22:33] hbarsnes commented on #63
There was a bug in the parsing of the gzip parameter. This has now been fixed and a new version released.

As for the issue of not finding the spectrum file, PeptideShaker is looking for the spectrum files in three locations: 1) the location(s) provided in the psdb file (i.e. the spectrum file location(s) used when creating the psdb file), 2) in the same folder as the psdb file, and 3) in a separa

[2020-11-11 22:33] #63 closed, assigned to hbarsnes

[2021-01-31 10:06] tivdnbos opened #64 "[Bug] Reports: adding multiple proteins to comma separated file"
When multiple proteins are added to a report, a comma is used. This occurs even when the user prefers csv format instead of tab. Therefore, no major problems here: the user can use the default tab separated format instead of comma separated, but I thought you should be aware of this.
This problem might also occur for other features, but I haven't tested this.

[2021-01-31 10:09] tivdnbos opened #65 "[Bug] Reports: Algorithm score"
When I made a new report type with algorithm score, I get on each line the following "X!Tandem (0.0)", while the Algorithm confidence is different.
I think a rounding error occurred here. I think, whenever a user explicitly asks for this, I would give the full float without rounding.